<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-avatar@latest/dist/avatar.min.css" rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


    <title>ShiftMate</title>
</head>

<body>
    <div id="wrapper">
        <div id="content">
            <!-- As a link -->
            <!-- Image and text -->
            <nav class="navbar navbar-light" style="background-color: white !important;">
                <a class="navbar-brand " href="#" >
                    <img src="https://firebasestorage.googleapis.com/v0/b/shiftmate-f7d4f.appspot.com/o/images%2FS.png?alt=media&token=3b1fd65a-c7a4-4c96-9fbc-4616a35ce68e" width="40" height="40"
                         class="d-inline-block rounded-circle" >
                    ShiftMate
                </a>
                <a href="/logout" ><input formaction="/logout" type="button" class="btn btn-secondary" value="Logout" /> </a>
            </nav>
            <div id="header" class="d-flex align-items-center justify-content-between p-4 w-75 mx-auto">
                <h1>
                    Welcome, <span th:text="${userEmail}"></span>
                </h1>
                <a href="add_people">                <button type="button" class="btn btn-secondary">Add People +</button>
                </a>

            </div>

            <div class=" d-flex justify-content-around">
                <!--single line list with avtar -->
                <ul class="list-group pmd-list pmd-card-list pmd-list-avatar w-75 p-2 mx-auto">
                    <li th:each="user : ${userList}" class="list-group-item d-flex justify-content-between align-items-center border rounded-pill "
                        style="border-color: lightgray !important; border-width: 2px !important; margin-bottom: 10px !important;">
                        <div class="d-flex justify-content-start">
                            <a href="" class="pmd-avatar-list-img">
                                <img class="avatar avatar-64 bg-light rounded-circle text-white img-fluid" alt="40x40"
                                     data-src="holder.js/40x40"  src="https://cdn.onlinewebfonts.com/svg/img_258083.png"
                                     data-holder-rendered="true" />
                            </a>
                            <div class="p-3 " style="font-size: 20px;" th:text="${user.name}"></div>
                        </div>

                        <!-- Example single danger button -->
                        <div class="btn-group user-button " style="position: absolute; right: 55px;">
                            <button type="button" class="btn btn-success dropdown-toggle rounded-pill"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                style="background-color: rgb(125, 226, 125) !important; color: black !important; border-color: rgb(125, 226, 125) !important;">
                                Done
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">To Do</a>

                            </div>
                        </div>
                        <span class="material-symbols-outlined">
                            arrow_forward_ios
                        </span>
                    </li>
                </ul>
            </div>



        </div>
    </div>
</body>

</html>