<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-avatar@latest/dist/avatar.min.css" rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />



    <title>Document</title>
</head>

<body>
    <div id="wrapper">
        <div id="content">
            <!-- As a link -->
            <!-- Image and text -->
            <nav class="navbar navbar-light" style="background-color: white !important;">
                <a class="navbar-brand " href="#" >
                    <img src="/assets/S.png" width="40" height="40"
                         class="d-inline-block rounded-circle" >
                    ShiftMate
                </a>
            </nav>
            <div id="header" class="d-flex align-items-center justify-content-between p-4 w-75 mx-auto">
                <h1>
                    Welcome, Dawid
                </h1>
                <a href="add_people">                <button type="button" class="btn btn-secondary">Add People +</button>
                </a>

            </div>

            <div class=" d-flex justify-content-around">
                <!--single line list with avtar -->
                <ul class="list-group pmd-list pmd-card-list pmd-list-avatar w-75 p-2 mx-auto">
                    <li class="list-group-item d-flex justify-content-between align-items-center border rounded-pill "
                        style="border-color: lightgray !important; border-width: 2px !important; margin-bottom: 10px !important;">
                        <div class="d-flex justify-content-start">
                            <a href="" class="pmd-avatar-list-img">
                                <img class="avatar avatar-64 bg-light rounded-circle text-white img-fluid" alt="40x40"
                                     data-src="holder.js/40x40"  src="https://i.pravatar.cc/400?img=68"
                                     data-holder-rendered="true" />
                            </a>
                            <div class="p-3 " style="font-size: 20px;"> Dawid Klimowicz</div>
                        </div>

                        <!-- Example single danger button -->
                        <div class="btn-group ">
                            <button type="button" class="btn btn-success dropdown-toggle rounded-pill"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                style="background-color: rgb(125, 226, 125) !important; color: black !important; border-color: rgb(125, 226, 125) !important;">
                                Done
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">To Do</a>

                            </div>
                        </div>
                        <span class="material-symbols-outlined">
                            arrow_forward_ios
                        </span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center border rounded-pill "
                        style="border-color: lightgray !important; border-width: 2px !important; margin-bottom: 10px !important;">
                        <div class="d-flex justify-content-start">
                            <a href="javascript:void(0);" class="pmd-avatar-list-img">
                                <img class="avatar avatar-64 bg-light rounded-circle text-white img-fluid" alt="40x40"
                                     data-src="holder.js/40x40" src="https://i.pravatar.cc/400?img=69"
                                     data-holder-rendered="true" />
                            </a>
                            <div class="p-3 " style="font-size: 20px;"> Michał Stefański</div>
                        </div>

                        <!-- Example single danger button -->
                        <div class="btn-group ">
                            <button type="button" class="btn btn-danger dropdown-toggle rounded-pill"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                style="background-color: lightcoral !important; color: black !important; border-color: lightcoral !important;">
                                To Do
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Done</a>

                            </div>
                        </div>
                        <span class="material-symbols-outlined">
                            arrow_forward_ios
                        </span>
                    </li>


                </ul>
            </div>



        </div>
    </div>
</body>

</html>