<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShiftMate</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-90">
            <div class="row d-flex justify-content-center align-items-center h-90">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="p-4 card bg-dark text-white" style="border-radius: 1rem;">
                        <h1>Dodaj użytkownika</h1>

                        <form method="POST" action="/user/create" enctype="multipart/form-data">
                            <p>
                                <label for="name">Imię:</label>
                                <input type="text" id="name" name="name" required />
                            </p>

                            <p>
                                <label for="age">Wiek:</label>
                                <input type="number" id="age" name="age" required />
                            </p>

                            <p>
                                <label for="city">Miasto:</label>
                                <input type="text" id="city" name="city" required />
                            </p>

                            <p>
                                <input type="submit" value="Dodaj użytkownika" />
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>